stylesheet.css

body {
  background-color: #222222;
}

#container {
  background-color: #767676;
  width:954px;
  height:auto;
  /*border: 2px dotted red;*/
  margin-left:10%;
  margin-bottom: 0%;
}

#header {
  margin-top:0px;
  margin-bottom:-6px;
 height:240;
 width:950;
 /*border:2px dotted red;*/
}

#headspace {
  border:2px solid #767676;
  margin-left: 10%;
}

ul {
  margin-top:-40px;
  list-style-type: none;
  margin-left: 14%;
}

li {
  display: inline;
  padding-left:7px;
  margin-left: 8px;
  margin-right:10px;
  font-size:20px;
  border: 2px solid #dddddd;
  letter-spacing: .5em;
  color:#ffffff;
}

li a:link {
  color:#ffffff;
  text-decoration: none;
}

li a:visited {
  color:#ffffff;
}

li a:hover {
  color:#aaa;
}

a:link {
  color:#ffffff;
  text-decoration: none;
}

a:visited {
  color:#ddd;
}

a:hover {
  color:#ccc;
}

#name {
  margin-left: 45px;
  font-variant: small-caps;
  font-size: 23px;
  margin-bottom: 10px;
}

#myself {
  height: 250px;
  width: 250px;
  /*border:1px solid black;*/
  margin-top: 20px;
  float:left;
  margin-left: 33px;
  margin-bottom: 10px;
  font-family: Times;
  font-size: 18px;
}

#myself p {
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  color:#ababab;
}

#myLine2 {
  margin-left: 13px;
}

#myLine3 {
  margin-left: 24px;
}

#player {
  height:350px;
  width:600px;
  border: 4px solid black;
  border-left: 1px solid black;
  float:left;
  margin-left:30px;
  margin-top: 30px;
  margin-bottom:20px;
  margin-right: 10px;
  clear:right;
}

#bodyContent {
  display:block;
  padding-bottom:10px;
  margin-top:2%;
  margin-left: 30px;
  margin-bottom: 0%;
  color:#ababab;
  /*border:3px solid black;*/
}

#bodyContent p {
  margin-top: 19px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-size: 18px;
  /*border-top:2px solid black;*/
}

#footer {
  background-color: #878787;
  width:954px;
  height:125px;
  border-top: 2px dashed #dddddd;
  margin-left:10%;
  margin-top:-16px;
  color: #444444;
}

.icons {
  margin-left: 40px;
  margin-top: 20px;
}

#github {
  margin-left: 37%;
}

#footer p:nth-child(6) {
  margin-left:31%;
  padding-top: 20px;
}

#footer p:nth-child(7) {
  margin-top: -14px;
  margin-left:37%;
  /*border:1px dashed red;*/
  }

         /* --About Me Styles-- */

#highlights {
  margin-top: 28px;
  /*border: 1px solid red;*/

}

#highlights p {
  margin-left: 15%;
  font-size:30px;
  font-family:serif;
  margin-top: 30px;
  /*float:left;*/
  /*border: 1px solid red;*/
}

#myStuff li {
  color:#aaa;
  border:none;
  font-size:18px;
  margin-top: 30px;
  display:block;
}

#myStuff li:first-child {
  margin-top: 60px;
  margin-bottom: 20px;
}

#myStuff {
  width:36%;
  /*margin-top: 10px;*/
  margin-left: 7%;
  float:left;
  /*border: 1px solid red;*/
}

#mePics {
  height: 410px;
  width: 500px;
  /*border: 1px solid gray;*/
  /*float:left;*/
  /*clear:both;*/
  display:inline-block;
  /*border: 1px dotted red;*/
  margin-bottom: 100px;
  margin-top: -70px;
}

#mePics p {
  font-size: 16px;
  color:#aaa;
  /*margin-top: 20px;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

#mePics p:first-child {
  padding-top: 63px;
}

#wife {
  height: 200px;
  width: 200px;
  margin-left: 5%;
  /*margin-top: 10px;*/
}

#boys {
  height: 200px;
  width: 200px;
  margin-left: 10%;
  /*margin-top: 10px;*/
}

#nature {
  height: 200px;
  width: 200px;
  margin-left: 1%;
}

#secondNature {
  height: 200px;
  width: 200px;
  margin-left: 5%;
}


           /* -- Portfolio styles -- */


#samples {
  font-size: 30px;
  font-family:georgia;
  margin-left: 28%;
  border: 1px solid red;
  /*margin-bottom: 300px;*/
}

#portfolioPage {
  width:80%;
  height: 750px;
  /*margin-bottom: 5%;*/
  /*clear:both;*/
  display:block;
  border: 1px solid red;
}

#portfolioPage ul {
  display:inline;

}

#portfolioPage li {
  height:250px;
  width: 320px;
  /*margin-right: 6%;*/
  border:1px solid black;
  color:#aaa;
  display:block;
}

#left {
  float:left;
  display:inline-block;
  border: 1px solid red;
}

#right {
  float:right;
  display:block;
  border: 1px solid red;
}