

#heading {
  display: inline;
  font-size:40px;
  margin-left:60px;
  /*border:1px solid red;*/
  font-family:serif;

}

#selfie {
  height: 150px;
  width: 150px;
  float:right;
  margin-right: 90px;
  margin-top:12px;
  /*border: 1px dashed red;*/
  clear:both;
}



#container {
  background-color: ##666663;
  margin-top: 40px;
  width:900px;
  margin-left:12%;
}

header {
  background-color:#cccccc;
  height:175px;
  margin-bottom: 10px;
  /*border:1px dashed red;*/
}

#bodyContent {
  border-top:1px solid black;
}

#date {
  height:20px;
  width:120px;
  /*border:1px dotted red;*/
  margin-top:20px;
}

#title {
  font-size:30px;
  font-variant: small-caps;
  margin-left:40%;
}

#precious a {
  display: block;
  clear:both;
}

/*footer {
  background-color:#cccccc;
  height:75px;
  padding-top:7px;
}

footer p:first-child {
  margin-left:32%;
}

footer p:nth-child(2) {
  margin-left:39%;
  }*/

  #footer {
  background-color: #878787;
  width:90%;
  height:125px;
  border-top: 2px dashed #dddddd;
  border-right: 4px solid #878787;
  margin-left:5%;
  /*margin-top:-16px;*/
  color: #444444;
}

.icons {
  margin-left: 40px;
  margin-top: 20px;
}

#github {
  margin-left: 37%;
}

#footer p:nth-child(6) {
  margin-left:31%;
  padding-top: 20px;
}

#footer p:nth-child(7) {
  margin-top: -14px;
  margin-left:37%;
  /*border:1px dashed red;*/
  }