#header {
  margin-top:0px;
  margin-bottom: 0;
  /*margin-bottom:-6px;*/
 height:18%;
 width:100%;
 /*border:2px dotted red;*/
}

#headspace {
  border:2px solid #767676;
  margin-left: 5%;
  width: 90%;
}

#nav ul {
  margin-top:-40px;
  margin-bottom: 0px;
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  /*min-width: 60%;*/
  /*border: 2px solid red;*/
}

#nav li {
  display: inline;
  width: 20%;
  padding-left:7px;
  margin-left: 5%;
  /*margin-right:10px;*/
  font-size:20px auto;
  border: 2px solid #dddddd;
  letter-spacing: .45em;
  color:#ffffff;
}

li a:link {
  color:#ffffff;
  text-decoration: none;
}

li a:visited {
  color:#ffffff;
}

li a:hover {
  color:#aaa;
}

a:link {
  color:#ffffff;
  text-decoration: none;
}

a:visited {
  color:#ddd;
}

a:hover {
  color:#ccc;
}

/*#heading {
  display: inline;
  font-size:40px;
  margin-left:60px;
  border:1px solid red;
  font-family:serif;

}
*/
/*#selfie {
  height: 150px;
  width: 150px;
  float:right;
  margin-right: 90px;
  margin-top:12px;
  border: 1px dashed red;
  clear:both;
}*/



.container {
  background-color: #767676;
  width:90%;
  height:auto;
  overflow: hidden;
  padding-top: 2%;
  /*border: 2px dotted red;*/
  margin-left:5%;
  margin-right: 5%;
  margin-bottom: 0%;
  margin-top: 0px;
  border-right: 4px solid #767676;
}

#bodyContent {
  width:95%;
  margin-left: 5%;
  margin-right: 5%;
}

/*header {
  background-color:#cccccc;
  height:175px;
  margin-bottom: 10px;
  /*border:1px dashed red;
}*/

/*#bodyContent {
  border-top:1px solid black;
}*/

#date {
  height:30px;
  width:120px;
  /*border:1px dotted red;*/
  margin-top:20px;
  clear: both;
}

#title {
  font-size:30px;
  font-variant: small-caps;
  margin-left:40%;
  clear: both;
  /*border:1px dotted red;*/

}

#previous a {
  display: block;
  clear:both;
}

#cultural {
  display:inline-block;
  width: 40%;
  margin-left: 10%;
}

#technical {
  display: inline-block;
  width: 40%;
  margin-left: 7%;
}

  #footer {
  background-color: #878787;
  width:90%;
  height:125px;
  border-top: 2px dashed #dddddd;
  border-right: 4px solid #878787;
  margin-left:5%;
  text-align: center;
  /*margin-top:-16px;*/
  color: #444444;
  clear: both;
}

#iconWrap {
  width: 87%;
  margin-left: 4%;
}
.icons {
  margin-left: 6%;
  margin-top: 20px;
}

/*#github {
  margin-left: 37%;
}

#footer p:nth-child(6) {
  margin-left:31%;
  padding-top: 20px;
}

#footer p:nth-child(7) {
  margin-top: -14px;
  margin-left:37%;
  /*border:1px dashed red;
  }*/